/***

lightgray - #F7F7F8
yellow - #FEE9B3

***/

@font-face {
  font-family: helvetica-regular;
  src: url("../fonts/helvetica-regular.otf");
}

@font-face {
  font-family: helvetica-medium;
  src: url("../fonts/helvetica-medium.otf");
}

@font-face {
  font-family: helvetica-bold;
  src: url("../fonts/helvetica-bold.otf");
}

body {
  font-family: helvetica-regular !important;
  padding-bottom: 50px;
}

body.open .logo img,
body.open .b-container {
  position: fixed !important;
  z-index: 999;
}

.logo img {
  margin-right: 30px;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0 !important;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1480px !important;
  }
}

input,
.form-control {
  outline: none !important;
}

.light-btn {
  border-radius: 30px !important;

  padding: 18px !important;
  background: white;

  display: block;
  margin: 35px auto 0 auto;
  text-align: center;
  color: inherit !important;
  text-decoration: none !important;
  font-size: 14px;
}
.offers .light-btn {
  margin: 0 auto 35px;
}

h3.header {
  font-family: helvetica-bold;
  font-size: 35px;
  margin: 40px 0;
}

.subtitle {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin-bottom: 40px;
}

.header-right{
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

#sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  background: white;
  border-bottom: 1px solid #eaeaec;
}

.admin-bar #sticky {
  top: 32;
}

.add-service-button {
  background: #fee9b3;
  border-radius: 36px;
  padding: 18px 45px;
  margin-right: 15px;
  font-size: 14px;
  color: black;
  border: 1px solid #fee9b3;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s;
}


a.add-service-button:hover{
  border: 1px solid #DCDFE5;
  background: white;
  box-shadow: 0 3px 6px #F0F3F7;
  text-decoration: none;
}

div.main-block {
  padding: 30px 15px 30px;
  background: #f2f4f7 url("../img/new-background.png") no-repeat;
}

.rotate90 {
  transform: rotate(90deg);
}

.menu li {
  font-family: helvetica-regular;
  display: inline-block;
  margin-right: 35px;
}

.menu li:last-child {
  margin: 0;
}

.whiten {
  background: white !important;
}

.plain {
  background: #f7f7f8 !important;
}

.menu li a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.btn-yellow {
  height: 60px !important;
  border-radius: 36px;
  padding: 18px;
  background: #fee9b3;
}

.menu li a:hover {
  color: black;
}

.main-block-items {
  display: flex;
  justify-content: space-between;
}

.main-block .content {
  max-width: 700px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.items-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.main-block .content h3 {
  font-family: helvetica-bold;
  font-size: 30px;
}

.main-block .content .subtitle {
  font-family: helvetica-bold;
  font-size: 40px;
  color: black;
  line-height: 48px;
  margin-bottom: 40px;
}

.main-block .statistics {
  border-radius: 10px;
  background: #fff;
  padding: 35px 0 0px 0;
  width: 520px;
}

.main-block .statistics .title {
  font-size: 24px;
  font-family: helvetica-medium;
  padding: 0 40px;
}

.main-block .statistics .subtitle {
  font-size: 16px;
  margin-top: 20px;
  color: #707070;
  margin-bottom: 0px;
}

.main-block .statistics .count {
  font-size: 28px;
  color: black;
}

.main-block .statistics .item {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0 55px;
}

.main-block .statistics .item .date {
  display: flex;
  justify-content: space-between;
}

.main-block .statistics .item .date .stopcov a {
  color: rgba(0, 0, 0, 0.2);
}
.main-block .statistics .item svg{

}

.statistics .title-item {
  font-size: 20px;
  padding: 0 40px;
  margin-bottom: 30px;
}

.statistics .title-item span {
  color: rgba(0, 0, 0, 0.5);
}


/*** Tabs ***/
#statistics-tabs {
 padding: 0 40px;
 margin-bottom: 30px !important;
}

#statistics-tabs li {
 display: inline-block;
  border-radius: 30px;
  margin-right: 5px;
}

#statistics-tabs li a {
  border:3px solid #F7F7F7;
  width: 210px;
  text-align: center;
  cursor: pointer;
  padding: 12px;
  border-radius: 30px;
  display: block;
  background: #fff;
  text-decoration: none;
}

#statistics-tabs li a.inactive {
  padding: 12px;
  background: #F7F7F7;
}

#chart{
  padding: 0 40px 40px ;
}

/********************* OFFER BLOCK ********************/
.offers .facetwp-checkbox{
    background: url('../img/filter-unchecked.png') no-repeat;
    padding-left: 32px;
    min-height: 25px;
    margin-bottom: 15px;
}

.offers .facetwp-checkbox.checked{
  background: url('../img/filter-checked.png') no-repeat;
}

.offers .facetwp-counter{
    opacity: 0.5;
}

.offers .archive-item {
  transition: width 3s ease-in-out;
}

.offers .offer-item {
  background: #fff;
  border-radius: 15px;
  border: 1px solid #eaeaec;
  padding: 20px 40px;
  margin-bottom: 30px;
  transition: all 0.3s;
}

.offers .offer-item .category-name {
  border: 1px solid #eaeaec;
  border-radius: 50px;
  padding: 20px 25px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  box-shadow: 0 3px 6px #f0f3f7;
  margin-bottom: 20px;
}

.offers .category-name a {
  color: currentColor;
}

.offers .category-name a:active,
.offers .category-name a:hover,
.offers .category-name a:focus {
  color: currentColor;
  text-decoration: none;
}

.offers .offer-item .category-name [class^="dot-"] {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background: gray;
  margin-right: 10px;
  flex-shrink: 0;
}

.offers .offer-item .category-name .dot-online-shop {
  background: #e84f4f;
}

.offers .offer-item .img-circle {
  text-align: center;
}

.offers .offer-item .source,
.offers .offer-item .expand {
  display: inline-flex;
  text-align: center;
  background: #f7f7f8;
  color: black;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  padding: 20px 30px;
  font-size: 14px;
}

.offers .offer-item:hover,
.offers .add-item:hover {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.offers .offer-item .company-title {
  font-size: 22px;
  color: black;
  font-family: helvetica-medium;
}

.offers .offer-item .description {
  font-size: 18px;
}

.offers .add-item {
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  padding: 40px;
  margin-bottom: 30px;
  transition: all 0.3s;
  cursor: pointer;
  background-size: cover;
  background: url("../img/addservice-bg.png") no-repeat;
}

.offers .add-item .add-circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #efefef;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.offer-item,
.add-item {
  height: 600px;
  overflow: hidden;
}

.archive-item:not(.expanded) .go-back,
.archive-item:not(.expanded) .full,
.archive-item:not(.expanded) .source {
  display: none;
}
.expanded .offer-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.expanded .go-back {
  padding: 20px 25px;
}
.expanded .go-back button {
  -webkit-appearance: none;
  appearance: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  border: none;
}

.expanded .offer-item .img-circle {
  width: 100%;
  text-align: left;
}

.expanded .offer-item .expand {
  display: none;
}

.offers .add-item p.description {
  font-family: helvetica-medium;
  font-size: 30px;
  margin-top: 350px;
}

.offers .facetwp-dropdown {
  height: 60px;
  padding: 0 40px;
  border-radius: 50px;
  border: 1px solid #dcdfe5;
  box-shadow: 0 3px 6px #f0f3f7;
  outline: none !important;
  margin-right: 20px;
}

.offers .facetwp-search-wrap {
  position: initial;
  display: flex;
  flex-direction: row-reverse;
}

.offers .search-input,
.offers .facetwp-search {
  height: 60px;
  padding: 0 40px;
  border-radius: 50px;
  background: #f7f7f8;
  margin-bottom: 40px;
  flex: 1;
  border: 1px solid #e2e3e6;
}

.offers .search-submit,
.offers .facetwp-search-wrap .facetwp-btn {
  height: 60px;
  width: 60px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #fee9b3;
}

.offers .facetwp-search-wrap .facetwp-btn {
  position: initial;
  opacity: 1;
}

.offers .facetwp-search-wrap .facetwp-btn:before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/search-icon.png") no-repeat;
  background-size: 16px 16px;
}

.offers .toolbar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.offers .toolbar a.layout-link {
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.2;
}

.offers .toolbar a.layout-link:hover,
.offers .toolbar a.active {
  opacity: 0.8;
}

.offers .toolbar-sort {
  display: inline-flex;
}

.offers .facetwp-sort {
  margin-left: 5px;
}

.offers .offers-carousel {
  background:#F7F7F8;
  padding: 40px 0 70px 0;
  margin-bottom: 35px;
}

.offers .offers-carousel .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offers .offers-carousel .slick-dots {
  position: initial;
  width: auto;
}

.offers .offers-carousel .category-slider {
  width: calc(100% - 25px);
}

.offers .offers-carousel .category-slider a.slider-item {
  background: white;
  border-radius: 15px;
  padding: 30px;
  outline: none !important;
  border: 1px solid #ebebeb;
  max-height: 146px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slick-dotted.slick-slider{
    margin: 0 !important;
}

.slick-track{
  min-height: 192px;
}


.offers .offers-carousel .category-image {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  background: #f7f7f8;
  height: 60px;
  width: 60px;
}

.offers .offers-carousel .category-slider .slider-item:hover {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08)
}

.offers .offers-carousel a {
  color: rgba(0, 0, 0, 0.7);
}

.offers .offers-carousel a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.offers .see-all {
    background: #F7F7F8;
    border-radius: 30px;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    margin: 20px 0 70px 0;
    color: black;
    display: block;
    transition: all 0.2s;
    text-decoration: none;
}

.offers .see-all:hover{
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.slick-slide {
  margin: 0 25px;
}
/* the parent */
.slick-list {
  margin: 0 -25px;
}

.list-view .archive-item {
  max-width: 100%;
  flex: 100%;
}

.list-view .hide-on-list,
.list-view .archive-item:not(.expanded) .excerpt {
  display: none;
}

.list-view .archive-item:not(.expanded) .wp-post-image {
  max-width: 50px;
}

.list-view .archive-item:not(.expanded) .offer-item {
  display: flex;
  height: auto;
  justify-content: space-between;
}

.list-view .archive-item:not(.expanded) .offer-header {
  display: flex;
  align-items: center;
  width: 80%;
}

.list-view .archive-item:not(.expanded) .img-circle {
  margin-right: 20px;
  border: 1px solid #eaeaec;
  border-radius: 50%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.list-view .archive-item:not(.expanded) .category-name {
  margin: 0;
  order: 3;
  box-shadow: none;
  margin-left: auto;
  margin-right: 20px;
}

.list-view .archive-item:not(.expanded) .company-title {
  font-size: 20px;
  margin: 0;
}

.list-view .offer-item .expand {
  margin: 0;
}

/********************* OFFER BLOCK ********************/

.fake-news-main {
  background: #fff !important;
  padding: 0 !important;
  margin-bottom: 100px;
  min-height: 800px;
}

.fake-news {
  background: #f7f7f8;
  width: calc(100% - 250px);
  border-radius: 30px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.fake-news h3.header {
  margin: 0;
}

.fake-news p.excerpt {
  margin-top: 15px;
}

.fake-news .fake-item {
  padding: 25px;
  border-radius: 10px;
  background: #fff;
  min-height: 430px;
  position: relative;
  transition: box-shadow 0.3s;
  border: 1px solid #fff;
  margin-bottom: 30px;
}

.fake-news .fake-item:hover{
    border: 1px solid #EFEFEF;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.fake-news .fake-item *:not(:first-child) {
  padding: 0 25px;
}

.fake-news .fake-item .image {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
}

.fake-news .fake-item .date {
  font-size: 14px;
  color: #707070;
  margin: 20px 0 15px 0;
}

.fake-news .fake-item .seemore {
  position: absolute;
  bottom: 30px;
}

.fake-news .fake-item .seemore .circle {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #efefef;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.fake-news .fake-item .seemore {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.fake-news .fake-item .seemore a {
  color: #707070 !important;
  background: #f7f7f8;
  padding: 18px;
  border-radius: 30px;
  width: 140px;
  text-decoration: none;
  text-align: center;
}

/***************** Accordion **************/

.recommendations {
  margin-bottom: 70px;
}

.accordion .open .circle {
  transform: rotate(0deg) !important;
}

.accordion .accordion-item {
  background: #f7f7f8;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px 0;
  padding: 0 40px;
}

.accordion .heading {
  color: black !important;
  cursor: pointer;
  outline: none;
  position: relative;
  font-size: 18px;
  font-family: helvetica-medium;
  border: none !important;
  padding: 30px 0;
  margin: 10px 0;
}

.accordion .heading .circle {
  position: absolute;
  right: 0px;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  border: 1px solid #efefef;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.accordion .open .heading .circle{
  transform: rotate(90deg) !important;
}

.accordion .desc {
  display: none;
  font-family: helvetica-regular;
  max-height: 0;
  padding: 0;
}

.accordion .open .desc {
  display: block;
  max-height: 100vw;
  padding-top: 10px;
  padding-bottom: 30px;
}

/************** SERVICE FORM **************/


input::placeholder {
  overflow: visible !important;
}

.hf-form,
#serviceForm {
  margin-bottom: 80px;
}

.hf-form .error,
#serviceForm .error {
  border-color: red !important;
}

.hf-form button,
#serviceForm button {
  height: 74px;
  width: 200px;
}

.hf-form label.error,
#serviceForm label.error {
  transform: translateY(-20px);
}

.hf-form input,
#serviceForm input {
  padding: 29px 30px;
  background: #f7f7f8;
  border: 1px solid #f7f7f8;
  outline: none;
  border-radius: 100px;
  box-shadow: none !important;
  margin-bottom: 30px;
}

.hf-form div.fake-input,
#serviceForm div.fake-input {
  padding: 29px 30px;
  border-radius: 100px;
  background: #f7f7f8;
  border: 1px solid #f7f7f8;
  outline: none;
  box-shadow: none !important;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}

.hf-form #logo,
#fileInput {
  display: none;
}

.hf-form div.fake-input span,
#serviceForm div.fake-input span {
  background: #fff;
  display: inline-block;
  border-radius: 100px;
  padding: 12px 24px;
  position: absolute;
  font-size: 14px;
  right: 10px;
  top: 7px;
}

.hf-form input[type="submit"],
#serviceForm input[type="submit"] {
  width: 250px;
  height: 74px;
  border-radius: 10px;
  line-height: 0;
  font-size: 18px;
}

.hf-form select,
#serviceForm select {
  outline: none;
  box-shadow: none !important;
  border-radius: 100px;
  background: #f7f7f8;
  border: 1px solid #f7f7f8;
  font-size: 16.6px;
  padding: 0px 25px;
  height: 60px;
  margin-bottom: 30px;
}

.hf-form textarea,
#serviceForm textarea {
  resize: none;
  border-radius: 30px;
  background: #f7f7f8;
  border: 1px solid #f7f7f8;
  padding: 30px;
  min-height: 400px;
  outline: none;
  box-shadow: none !important;
  margin-bottom: 30px;
}

.hf-form .block,
#serviceForm .block {
  margin-top: 30px;
}

/****************** FOOTER *****************/
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

footer {
  border-top: 1px solid #dcdfe5;
}

/***************** policy *******************/
.text-container {
  padding: 0 100px;
  margin-bottom: 80px;
}

.text-container h2 {
  font-family: helvetica-bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.text-container h3 {
  font-family: helvetica-bold;
  margin: 35px 0 20px 0;
  font-size: 20px;
}

.text-container p {
  font-size: 14px;
  line-height: 22px;
}

/**************** CONTENT PAGE ********************/

.hero-container {
  background: url("../img/hero-bg.png") no-repeat;
  background-size: contain;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  padding-left: 100px;
}

.hero-container h2 {
  font-family: helvetica-bold;
}

.hero-container .subtitle {
  max-width: 450px;
  margin-bottom: 0;
}

/************** BLOG INNER CONTAINER **************/

.blog-inner-container {
  padding: 0 100px;
  margin-bottom: 80px;
}

.blog-inner-container .top {
  margin-bottom: 15px;
}

.blog-inner-container .top .fakenews {
  color: #ff1515;
  font-size: 18px;
  font-family: helvetica-medium;
}

.blog-inner-container .top .date {
  color: #b2b2b2;
  margin-left: 50px;
  font-size: 18px;
  font-family: helvetica-medium;
}

.blog-inner-container .title {
  font-size: 34px;
  font-family: helvetica-bold;
  margin-bottom: 30px;
}

.blog-inner-container img {
  max-width: 100% !important;
}

.blog-inner-container .image {
  width: 100%;
  height: 440px;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  object-fit: cover;
}

.blog-inner-container h4 {
  font-family: helvetica-bold;
  font-size: 34px;
  margin: 30px 0 15px 0;
}

.blog-inner-container .source {
  margin-top: 50px;
}

.blog-inner-container .source a {
  color: #b2b2b2;
  font-size: 16px;
  font-family: helvetica-medium;
}

.font15 {
  font-size: 15px !important;
}

.font14 {
  font-size: 14px !important;
}

@media only screen and (max-width: 1440px) and (min-width: 1200px) {
  .description,
  .font14 {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .col-md-4 {
    width: 50% !important;
    max-width: 50% !important;
    flex: unset !important;
  }
}

@media (max-width: 1368px) {
  .menu li {
    margin-right: 25px;
  }
}

.b-container {
  display: none;
}

@media (max-width: 1024px) {
  
  .header-right{
    display: none;
  }

  .fake-news{
    width: 100%;
    padding-top: 0;
    padding-bottom: 40px;
  }

  .light-btn{
      margin-top: 0;
  }

  .items-container {
    flex-direction: column;
  }

  .logo img {
    position: relative;
    z-index: 9999;
  }

  .b-container {
    display: block;
  }

  div.main-block {
    background: url("../img/mobile-bg.png") no-repeat;
  }

  .main-block .content .subtitle {
    font-size: 40px;
  }


  .header .menu {
    display: none;
  }

  .main-block .content {
    padding-bottom: 50px;
  }

  .main-block .content p {
    margin: 0;
  }

  .fake-news .fake-item {
    margin-bottom: 30px;
  }

  #accordion .heading {
    padding: 20px 50px 20px 20px;
    font-size: 14px;
  }

  #accordion .heading .circle {
    top: 25px;
    right: 15px;
  }

  .main-block .statistics {
    width: 100%;
  }
}

.show-on-mobile {
  display: none;
}

button.show-all {
  display: none;
}

@media (max-width: 768px) {

  #toList{
      display: none;
  }

  .hero-container{
      padding: 15px;
  
      height: 106px;
     
      border-radius: 10px;
  }

  .hero-container h3.header{
      margin: 0;
      padding: 0;
      font-size: 25px;
  }


  .offers .offer-item .description .more-text {
    display: none;
  }

  .statistics{
      margin-top: 30px;
  }

  .offers .offer-item .company-title {
    text-align: center;
  }

  button.show-all {
    display: block;
    margin: 0 auto;
  }

  #statistics-tabs li{
      margin: 0;
      width: 48%;
  }

  #statistics-tabs li a{
      width: 100%;
      padding: 8px 15px;
  }

  .statistics .title-item{
      padding: 0 25px;
  }

  #statistics-tabs{
      padding: 0 25px;
      justify-content: space-between;
      display: flex;
  }

  #statistics-tabs li a.inactive{
      padding: 8px 15px;
  }

  .main-block .statistics .item{
      padding: 0 40px;
      margin-bottom: 25px;
  }

  div.main-block{
      padding: 15px 0;
  }

}

@media (max-width: 480px) {
  .hero-container h2{
      font-size: 25px;
  }

  .hero-container{
      background-size: auto;
      background-position: -80px;
  }

  .hero-container div.subtitle{
      display: none;
  }

  .main-block .statistics .subtitle{
      margin: 0;
  }

  .items-container {
    padding-bottom: 20px;
  }

  .main-block .statistics .subtitle{
      font-size: 12px;
  }

  div.main-block {
    background-position: -15px -215px;
  }

  .main-block .content {
    padding: 0;
  }

  .show-on-mobile {
    display: inline;
  }

  .hide-on-mobile {
    display: none;
  }

  .blog-inner-container .image {
    background-size: contain;
    height: 170px;
  }

  .uploaded {
    font-size: 13px;
    left: 10px;
    color: #495057;
  }

  footer .menu li {
    margin-right: 15px;
  }

  .logo img {
    max-width: 180px;
    position: relative;
    z-index: 9999;
  }

  .offers .add-item p.description {
    margin-top: 130px;
    font-size: 24px;
  }

  .offers .add-item .add-circle {
    width: 60px;
    height: 60px;
  }

  .offers .add-item .add-circle img {
    width: 20px;
  }

  .offers .add-item {
    height: 350px !important;
    background-position: bottom;
  }

  .main-block .content .subtitle {
    font-size: 32px;
    line-height: 40px;
  }

  .main-block .statistics {
    padding: 20px 0;
    /* display: none; */
  }

  .main-block .content h3 {
    font-size: 30px;
  }

  .offers .offer-item {
    padding: 20px;
  }

  .offer-item {
    height: unset;
  }

  .fake-news .fake-item .seemore {
    bottom: 15px;
  }

  .text-container {
    padding: 0;
  }

  #accordion .desc {
    height: unset !important;
  }

  #serviceForm button {
    display: block;
    margin: 0 auto;
  }

  .blog-inner-container {
    padding: 20px;
  }

  .blog-inner-container .title {
    font-size: 24px;
  }

  .blog-inner-container .title,
  .blog-inner-container .top .fakenews {
    font-size: 16px;
  }


}

/*************** BURGER MENU ******************/

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    visibility: hidden;
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    visibility: hidden;
  }
}

.b-nav {
  position: absolute;
  z-index: 11;
}

.b-nav:not(.open) {
  display: none;
}

.b-nav li {
  color: #444444;
  list-style-type: none;
  padding: 10px;
  text-align: left;
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
}

.b-nav li:not(.open) {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

.b-nav.open {
  visibility: visible;
  background: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  padding-top: 140px;
  left: 0;
}

.b-nav.open li {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  margin-bottom: 10px;
}

.b-link {
  background: transparent;
  border-left: rgba(68, 68, 68, 0) solid 2px;
  color: #444444;
  font-size: 24px;
  font-weight: 300;
  margin-left: 30px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: auto;
}

.b-menu {
  background: white;
  border: white solid 2px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  padding-left: 15.5px;
  padding-top: 17.5px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 60px;
  z-index: 12;
}

.b-bun {
  background: #444444;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.b-bun--top {
  height: 4px;
  border-radius: 10px;
  top: 4px;
  width: 30px;
}

.b-bun--mid {
  height: 2px;
  top: 8px;
  width: 25px;
  visibility: hidden;
}

.b-bun--bottom {
  height: 4px;
  top: 12px;
  border-radius: 10px;
  width: 30px;
}

.b-brand {
  color: white;
  font-size: 22px;
  font-weight: 300;
  margin-left: 30px;
  position: relative;
  text-decoration: none;
  top: -21.4285714286px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 13;
}

.b-container {
  height: 60px;
  right: 30px;
  position: absolute;
  top: 20px;
}

.b-container:hover:not(.open) .bun-top,
.b-container:hover:not(.open) .bun-mid,
.b-container:hover:not(.open) .bun-bottom {
  background: white;
}

.b-container.open .b-main {
  border: #444444 solid 2px;
}

.b-container.open .b-bun--top {
  background: #444444;
  top: 11px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.b-container.open .b-bun--mid {
  opacity: 0;
}

.b-container.open .b-bun--bottom {
  background: #444444;
  top: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.b-container.open .b-brand {
  color: #444444;
}

#successBlock {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#successBlock img {
  display: inline-block;
  margin: 15px 0;
}

.hf-message {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.uploaded {
  position: absolute;
  left: 20px;
  top: 16px;
}

.flex-show {
  display: flex !important;
}

.ui-icon-triangle-1-e,
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  display: none !important;
}

/************* page container ************/

.page-container {
  background: #f7f7f8;
  padding-top: 30px;
}
